@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

body{
    background: #25252c;
    overflow-x: hidden;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: #781215;
    color: #181a1e;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: #fbfbfb;
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: #181a1e;
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .admins{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .admins table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .admins table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #25252c;
}

.content main .bottom-data .admins table td{
    padding: 16px 0;
}

.content main .bottom-data .admins table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .admins table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .admins table tbody tr:hover{
    background: #25252c;
}

@media screen and (max-width: 768px) 
{
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) 
{
    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .admins table{
        min-width: 340px;
    }
}