@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}

:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx {
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--background-color-secundary);
    overflow-x: hidden;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

.content main .header .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 5px;
    background: var(--theme-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px; /* Menor espaçamento */
    margin-top: 16px; /* Menor margem superior */
    width: 100%;
    color: var(--secondary-text-color);
}

.content main .bottom-data>div {
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-y: auto;
    max-height: 500px
}

.content main .bottom-data .client {
    flex-grow: 1;
    flex-basis: 500px;
}

/* Estilos da tabela no modo normal (sem scroll) */
.content main .bottom-data .client table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    table-layout: auto;
    white-space: nowrap;
    max-height: 400px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
}

.content main .bottom-data .client table th,
.content main .bottom-data .client table td {
    text-align: center;
    padding: 16px 0;
    white-space: nowrap;
    word-wrap: break-word;
}

.content main .bottom-data .client table th {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
}

.content main .bottom-data .client table tbody tr:hover {
    background: var(--background-color-secundary);
}

/* Estilos da tabela no modo responsivo (com scroll) */
@media screen and (max-width: 768px) {
    .content main .bottom-data .client {
        overflow-x: auto; /* Habilita scroll horizontal no container */
    }

    .content main .bottom-data .client table {
        width: 100%; /* A tabela ocupa todo o espaço */
    }

    .content main .bottom-data .client table tbody {
        display: block;
        overflow-y: auto; /* Habilita scroll vertical */
        max-height: 300px; /* Define uma altura máxima para o scroll */
    }

    .content main .bottom-data .client table thead,
    .content main .bottom-data .client table tbody tr {
        display: table;
        width: 100%;
        table-layout: auto; /* Ajusta as colunas automaticamente */
    }

    /* Scroll personalizado para o tbody */
    .content main .bottom-data .client table tbody::-webkit-scrollbar {
        width: 6px; /* Largura do scroll */
    }

    .content main .bottom-data .client table tbody::-webkit-scrollbar-thumb {
        background: #888; /* Cor do scroll */
        border-radius: 3px;
    }
}

.btn-small {
    background-color: var(--theme-color);
    color: var(--primary-text-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-small:hover {
    background-color: #cc0000;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input {
    width: 200%;
    max-width: 300px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

















