@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background: var(--background-color-secundary);
    overflow-x: hidden;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    position: relative;
}

.content main .header h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

/* insights */

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--background-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(2) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(3) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(4) .bx{
    color: var(--primary-text-color);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.content main .insights li .info p{
    color: var(--secondary-text-color);
}



/* Ficha de Trabalho e logs */


.content main .FichaLogs {
    display: flex; 
    gap: 24px; 
    margin-top: 24px;
    color: var(--secondary-text-color);
    flex-wrap: wrap; 
}

/* Ficha de Trabalho */
.content main .work-status {
    width: 48%; 
    min-width: 300px; 
}

.content main .work-status .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .work-status .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.content main .work-status .products {
    position: relative;
}

.content main .work-status .products button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    padding: 10px 15px;
    background-color: var(--theme-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content main .work-status .products button:hover {
    background-color: darkred;
}

.content main .work-status .products table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
































.content main .work-status .header .bx{
    color: var(--theme-color);
}


.content main .work-status>div{
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-x: auto;
}

.content main .work-status .tables{
    flex-grow: 1;
    flex-basis: 500px;
}   



.content main .work-status .tables table{
    width: 70%;
    border-collapse: collapse;
}

.content main .work-status .tables table th{
    padding-bottom: 12px;
    font-size: 13px;
    border-bottom: 1px solid var(--border-color);
}

.content main .work-status .tables table td{
    padding: 16px 0;
    text-align: center;
}

.content main .work-status .tables table tr td:first-child{
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .work-status .tables table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .work-status .tables table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .work-status .tables table tbody tr:hover{
    background: var(--background-color-secundary);
}

.content main .header h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}


.content main .work-status .products table th,
.content main .work-status .products table td {
    text-align: center;
    padding: 10px;
    color: var(--primary-text-color);
}

.content main .work-status .products table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .work-status .products table tbody tr:hover {
    background: var(--background-color-secundary);
}

.content main .work-status .products table tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}

.content main .work-status .products table thead,
.content main .work-status .products table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



/* Logs */

.content main .logs-section {
    width: 50%; 
    min-width: 300px; 
}

.content main .logs-section .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .logs-section .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.content main .logs-section .header .bx{
    color: var(--theme-color);
}

.content main .logs-section>div{
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-x: auto;
}

.content main .logs-section .tables{
    flex-grow: 1;
    flex-basis: 500px;
}   

.content main .logs-section .logs table{
    width: 100%;
    border-collapse: collapse;
}

.content main .logs-section .tables table th{
    padding-bottom: 12px;
    font-size: 13px;
    border-bottom: 1px solid var(--border-color);
}

.content main .logs-section .tables table td{
    padding: 16px 0;
    text-align: center;
}

.content main .logs-section .tables table tr td:first-child{
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .logs-section .tables table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .logs-section .tables table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .logs-section .tables table tbody tr:hover{
    background: var(--background-color-secundary);
}

.content main .header h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.content main .logs-section .logs table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.content main .logs-section .logs table th,
.content main .logs-section .logs table td {
    text-align: center;
    padding: 10px;
    color: var(--primary-text-color);
}

.content main .logs-section .logs table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .logs-section .logs table tbody tr:hover {
    background: var(--background-color-secundary);
}

.content main .logs-section .logs table tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}

.content main .logs-section .logs table thead,
.content main .logs-section .logs table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}



/* Grafico */
.chart-container {
    background: var(--background-color);
    border-radius: 20px;
    padding: 30px; 
    margin-top: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto;
}

.chart-container h2 {
    font-size: 28px; 
    font-weight: 600;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

#ganhosChart {
    display: block;
    margin: 0 auto;
    width: 100%; 
    max-width: 1000px; 
    height: 500px;
    margin-top: 5px;
}


.chart-container {
    background-color: var(--background-color); 
    padding: 60px 20px 20px; 
    border-radius: 10px;
    border: 1px solid #444; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 30px;
}


.year-selector {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent; 
}


.year-selector button {
    background-color: var(--background-color); 
    border: 1px solid #555;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 12px;
    transition: all 0.3s;
}

.year-selector button:hover {
    background-color: #781215; 
    color: #fff;
    transform: scale(1.1);
}

/* Ano exibido */
.year-selector #currentYear {
    font-size: 18px;
    color: #f5f5f5;
    font-weight: bold;
}






@media screen and (max-width: 768px) 
{
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) 
{
    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .work-status .header{
        min-width: 340px;
    }

    .content main .work-status .tables table{
        min-width: 340px;
    }
}