@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background: var(--background-color-secundary);
    overflow-x: hidden;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
    position: relative;
}

.content main .header h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--primary-text-color);
}

/* insights */

.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--background-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(2) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(3) .bx{
    color: var(--primary-text-color);
}

.content main .insights li:nth-child(4) .bx{
    color: var(--primary-text-color);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.content main .insights li .info p{
    color: var(--secondary-text-color);
}







/* Contêiner flexível para tabela e gráfico */
.container {
    display: flex; 
    gap: 24px; 
    margin-top: 24px;
    color: var(--secondary-text-color);
    flex-wrap: wrap;
}


/* Tabela de Produtos Fora de Stock */
.products-stock-custom {
    flex: 1; /* Ocupa a metade da largura disponível */
    background-color: var(--background-color);
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Adiciona a posição relativa para o botão ficar dentro da tabela */
}

/* Título da Tabela */
.products-stock-custom h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

/* Estilo da tabela */
.products-stock-custom table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 300px; /* Limita a altura da tabela */
    overflow-y: auto; /* Adiciona scroll quando necessário */
}

/* Estilos das células da tabela */
.products-stock-custom table th,
.products-stock-custom table td {
    width: auto;
    text-align: center;
    color: var(--primary-text-color);
}


.products-stock-custom table th{
    padding-bottom: 12px;
    /*text-align: left;*/
    border-bottom: 1px solid var(--border-color);
}

.products-stock-custom  table th:first-child,
.products-stock-custom  table td:first-child {
    width: 50px;
}


/* Imagem redonda */
.products-stock-custom table td image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

/* Estilo do botão "Ver Mais" */
.container .products-stock-custom button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container .products-stock-custom button:hover {
    background-color: darkred;
}

/* Efeito de hover nas linhas da tabela */
.products-stock-custom table tbody tr:hover {
    background: var(--background-color-secundary);
}

/* Gráfico */
.chart-container-custom {
    flex: 1; /* Ocupa a metade da largura disponível */
    background-color: var(--background-color);
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; /* Adiciona a posição relativa para o botão ficar dentro da tabela */
}

.chart-container-custom h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

#ganhosChart {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

.year-selector {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.year-selector button {
    background-color: var(--background-color);
    border: 1px solid #555;
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 4px;
    transition: all 0.3s;
}

.year-selector button:hover {
    background-color: var(--theme-color);
    color: #fff;
    transform: scale(1.1);
}

.year-selector #currentYear {
    font-size: 18px;
    color: #f5f5f5;
    font-weight: bold;
}

/* Ficha de Trabalho e logs */
.content main .fichalogs {
    display: flex; 
    gap: 24px; 
    margin-top: 24px;
    color: var(--secondary-text-color);
    flex-wrap: wrap; 
}


/* Ficha de Trabalho */
.content main .work-status {
    flex: 1;
    width: 48%; 
    min-width: 300px; 
}

.content main .work-status .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .work-status .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.content main .work-status .products {
    position: relative;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    padding: 10px 15px;
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content main .work-status .products button:hover {
    background-color: darkred;
}

.content main .work-status .products table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}



.content main .work-status .header .bx{
    color: var(--theme-color);
}


.content main .work-status>div{
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-x: auto;
}

.content main .work-status .tables{
    flex-grow: 1;
    flex-basis: 500px;
}   



.content main .work-status .tables table{
    width: 70%;
    border-collapse: collapse;
}

.content main .work-status table th{
    padding-bottom: 12px;
    /*font-size: 13px;*/
    border-bottom: 1px solid var(--border-color);
}

.content main .work-status .tables table td{
    padding: 16px 0;
    text-align: center;
}

.content main .work-status .tables table tr td:first-child{
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .work-status .tables table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .work-status .tables table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .work-status .tables table tbody tr:hover{
    background: var(--background-color-secundary);
}


.content main .work-status .products table th,
.content main .work-status .products table td {
    text-align: left;
    padding: 10px;
    color: var(--primary-text-color);
}

.content main .work-status .products table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 0 0;
}

.content main .work-status .products table tbody tr:hover {
    background: var(--background-color-secundary);
}

.content main .work-status .products table tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}

.content main .work-status .products table thead,
.content main .work-status .products table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}




/* Logs */

.content main .logs-section {
    flex: 1;
    width: 50%; 
    min-width: 300px; 
}

.content main .logs-section .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .logs-section .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.content main .logs-section .header .bx{
    color: var(--theme-color);
}

.content main .logs-section>div{
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-x: auto;
    position: relative;
}

.content main .logs-section .tables{
    flex-grow: 1;
    flex-basis: 500px;
}   

.content main .logs-section .logs table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.content main .logs-section .tables table tr td:first-child{
    align-items: left;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .logs-section .tables table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .logs-section .tables table tbody tr:hover{
    background: var(--background-color-secundary);
}

.content main .header h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    clear: both;
}

.content main .logs-section .logs table th,
.content main .logs-section .logs table td {
    text-align: left;
    padding: 10px 10px 10px 5px;
    color: var(--primary-text-color);
}

.content main .logs-section .logs table th{
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.content main .logs-section .logs table th:first-child,
.content main .logs-section .logs table td:first-child {
    width: 30%; /* A coluna "Data" terá 30% da largura */
}



.content main .logs-section .logs table tbody tr:hover {
    background: var(--background-color-secundary);
}

.content main .logs-section .logs table tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
}

.content main .logs-section .logs table thead,
.content main .logs-section .logs table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

@media screen and (max-width: 1024px) {
    /* Ajustes para tablets */
    
    /* Insights: Ajustar a grade para dispositivos com tela média */
    .content main .insights {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Menor largura mínima */
    }

    /* Ajustes nos títulos da tabela de produtos e gráficos */
    .products-stock-custom h2,
    .chart-container-custom h2 {
        font-size: 22px;
    }

    /* Ajuste da largura da tabela de produtos */
    .products-stock-custom table,
    .logs-section .logs table {
        font-size: 14px; /* Menor que o desktop */
    }

    /* Ajustes para botões em dispositivos com telas menores */
    .container .products-stock-custom button,
    .content main .work-status .products button {
        font-size: 14px;
        padding: 8px 12px;
    }

    /* Ajuste do gráfico */
    #ganhosChart {
        height: 400px; /* Ajuste para que o gráfico ocupe menos altura em tablets */
    }

    .container {
        flex-direction: column;
        gap: 16px; 
    }

    /* Para a navegação no ano */
    .year-selector button {
        font-size: 16px;
        padding: 6px 12px;
    }

    /* Ajuste nos textos para dispositivos mais estreitos */
    .content main .header h1 {
        font-size: 28px; /* Tamanho de fonte menor para tablets */
    }

    .content main .work-status .header h3,
    .content main .logs-section .header h3 {
        font-size: 22px;
    }

    /* Flex container para "Work Status" e "Logs" no tablet */
    .content main .fichalogs {
        flex-direction: column;
    }

    .content main .work-status,
    .content main .logs-section {
        width: 100%; /* Toma toda a largura da tela em tablets */
    }

    /* Ajustar as tabelas dentro de "Work Status" para dispositivos de tamanho médio */
    .content main .work-status .tables table {
        width: 100%; /* Toma a largura total */
    }

    /* Ajustes nos botões e interações no trabalho */
    .content main .work-status .products {
        padding-top: 50px; /* Garantir que o botão não sobreponha a tabela */
    }
}

@media screen and (max-width: 768px) {
    /* Ajustes para celulares pequenos */
    
    .content main .insights {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Aumentar flexibilidade */
    }

    .content main .header h1 {
        font-size: 24px; /* Ajustar título */
    }

    .container {
        flex-direction: column;
        gap: 16px;
    }

    .container .products-stock-custom button{
        font-size: 14px;
        padding: 8px 12px;
    }

    /* Ajustes nos botões de ano */
    .year-selector button {
        font-size: 14px;
        padding: 3px 8px;
    }

    #ganhosChart {
        height: 250px; /* Menor altura para celulares */
    }

    .content main .work-status .products button {
        font-size: 14px;
        padding: 8px 12px;
    }

    /* Ajustes de tabelas em telas menores */
    .products-stock-custom table th,
    .products-stock-custom table td,
    .logs-section .logs table th,
    .logs-section .logs table td {
        padding: 8px 5px;
    }

    /* Ajustar as tabelas para ficarem mais legíveis em dispositivos móveis */
    .content main .work-status .tables table th,
    .content main .logs-section .logs table th {
        font-size: 12px;
    }

    .content main .work-status .tables table td,
    .content main .logs-section .logs table td {
        font-size: 12px;
    }

    .content main .work-status .products table tbody tr:hover {
        background: var(--background-color-secundary);
    }
}


