@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--background-color-secundary);
    color: var(--secondary-text-color);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: var(--primary-text-color);
}

.content main {
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    width: 100%;
    color: var(--secondary-text-color);
}

.content main .bottom-data .budget {
    flex-grow: 1;
    background: var(--background-color);
    padding: 24px;
    border-radius: 20px;
}

.content main .bottom-data .budget h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.content main .bottom-data .budget label {
    display: block;
    font-size: 14px;
    color: #c4c4c4;
    width:75%;
}

.content main .bottom-data .budget input[type="text"],
.content main .bottom-data .budget input[type="search"],
.content main .bottom-data .budget input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
}

.content main .bottom-data .budget input[type="date"]{
    width: 45%;
    padding: 10px;
    border: 1px solid var(--background-color-secundary);
    background: var(--background-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
}

.content main .bottom-data .budget textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    overflow: hidden;
}

.autoExpand {
    min-height: 47px !important;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    color: var(--primary-text-color); 
    text-align: left;
    padding-right: 10px;
}

table th {
    font-weight: bold;
}

table td button.select-budget {
    background-color: #f04747;
    color: var(--primary-text-color);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.content main .bottom-data .budget table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
}

.content main .bottom-data .budget table th {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--background-color-secundary);
}

.content main .bottom-data .budget table td {
    font-size: 14px;
}

.content main .bottom-data .budget table tr td:first-child {
    padding-left: 6px;
}

.content main .bottom-data .budget button {
    margin-top: 9px;
    padding: 10px 16px;
    background: var(--theme-color);
    border: none;
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.content main .bottom-data .budget button:hover {
    background: #9b1c1f;
}

#bottomButton,
#botSaveBudget,
#botPrintBudget{
    margin-top: 9px;
    padding: 10px 16px;
    background: var(--theme-color);
    border: none;
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    padding-bottom: 10px;
}

#bottomButton:hover,
#botSaveBudget:hover {
    background: #9b1c1f;
}

#secoes .secao {
    margin-bottom: 24px;
}

#secoes .secao h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.section {
    background-color: var(--background-color-secundary);
}

.section-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-group {
    display: flex;
    flex-direction: column; 
    flex: 1;
    padding-right: 10px;
}


@media screen and (max-width: 768px) {
    .content {
        padding: 16px;
    }

    .content main .bottom-data .budget {
        padding: 16px;
    }
}

@media screen and (max-width: 576px) {
    .content main .bottom-data .budget table {
        min-width: 340px;
    }

    .content main .bottom-data .budget input {
        font-size: 12px;
    }
}

.sidebar a {
    text-decoration: none;
    color: inherit; 
}

#autocomplete-container {
    position: relative;
    width: 75%;
}

#suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--background-color-secundary);
    border-radius: 8px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    max-height: 200px;
    overflow-y: auto;
    color: var(--primary-text-color);
}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background: var(--background-color-secundary);
}

.result-item {
    padding: 10px 15px;
    cursor: pointer;
    color: var(--primary-text-color);
}

.result-item:hover {
    background-color: #383838;
}

.result-item:active {
    background-color: #505050;
}

.results-container {
    width: 100%;
    background: var(--background-color-secundary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1000;
    display: none; /* Oculto por padrão */
}

.modal {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 25%;
    display: none; /* Oculto por padrão */
    z-index: 1000;
    background-color: #232323;
}
  
.modal-content {
    background-color: #232323; /* Cor de fundo escura */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    overflow: hidden;
}

#botSaveBudget{
    float: right;
}

#botPrintBudget{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    margin-top: 10px;
}

.select-label {
    font-size: 14px;
    color: var(--primary-text-color);
    font-weight: 500;
    margin-bottom: 5px; /* Espaço entre o texto e a select box */
}

select {
    width: 150px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    background: var(--background-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: border-color 0.3s ease, background 0.3s ease;
}

select:hover {
    border-color: var(--theme-color);
}

select:focus {
    border-color: var(--theme-color);
    outline: none;
    box-shadow: 0 0 5px rgba(120, 18, 21, 0.5);
}