@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-color: var(--background-color);
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--background-color-secundary);
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left {
    display: flex;
    flex-direction: column; /* Alinha o título e a barra de pesquisa verticalmente */
}

.search-bar {
    margin-top: 10px; /* Adiciona espaçamento entre o título e a barra de pesquisa */
}

.search-bar input {
    width: 200%;
    max-width: 300px; /* Define uma largura máxima */
    padding: 8px 12px; /* Adiciona espaçamento interno */
    border: 1px solid var(--border-color); /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.search-bar input:focus {
    outline: none; /* Remove o contorno padrão */
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--theme-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--secondary-text-color);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--background-color);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .budget{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .budget table {
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .budget table th {
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.content main .bottom-data .budget table td {
    text-align: left;
}

/* Tornar o tbody scrollável */
.content main .bottom-data .budget table tbody {
    display: block;
    max-height: 422px;
    overflow-y: auto;
}

.content main .bottom-data .budget table thead,
.content main .bottom-data .budget table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content main .bottom-data .budget table tbody tr:hover {
    background: var(--background-color-secundary);
}


#budgetModal {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 8px;
    width: 800px; /* Define largura fixa */
    height: 600px; /* Define altura fixa */
    background-color: var(--background-color); /* Certifique-se de ter esta variável */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.modal-content {
    background-color: var(--background-color);
    gap: 12px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Mantém o tamanho ajustado ao modal */
    height: 100%; /* Mantém o tamanho ajustado ao modal */
    display: flex;
    flex-direction: column;
}

.modal-content .headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content .headerModal h2 {
    color: var(--primary-text-color);
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.modal-content .headerModal .close {
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.modal-content .headerModal .close:hover {
    color: red;
}

.modal .tabela {
    background-color: var(--background-color-secundary);
    padding: 15px;
    border-radius: 8px;
    overflow: hidden; /* Esconde transbordo inicial */
    height: calc(100% - 100px); /* Ajusta o espaço para a tabela */
}

/* Rolagem para a tabela */
.modal .tabela table {
    width: 100%;
    border-collapse: collapse;
}

.modal .tabela tbody {
    display: block;
    max-height: 350px; /* Define altura máxima da área de resultados */
    overflow-y: auto; /* Permite rolagem vertical */
}

.modal .tabela thead, .modal .tabela tbody tr {
    display: table;
    width: 100%; /* Garante que as colunas ocupem toda a largura */
    table-layout: fixed; /* Colunas fixas e consistentes */
}

/* Barra de rolagem customizada (opcional) */
.modal .tabela tbody::-webkit-scrollbar {
    width: 8px;
}

.modal .tabela tbody::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 4px;
}

.modal .tabela tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.content main .bottom-data .budget table td{
    padding: 16px 0;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    color: var(--primary-text-color); 
    text-align: left;
}

table th {
    padding-bottom: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--background-color);
}

table td{
    padding: 16px 0;
}

table td button.select-budget {
    background-color: #f04747;
    color: var(--primary-text-color);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

table td button.select-budget:hover {
    background-color: #d03c3c; 
}

.content main .modal-content table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .modal-content table tbody tr:hover {
    background: var(--background-color);
}

.content main .modal-content .form-input {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #444;
    border-radius: 20px;
    overflow: hidden;
    background: #1e1e24;
    padding: 0 12px;
    position: relative;
}

.content main .modal-content .form-input input {
    flex-grow: 1;
    height: 100%;
    border: none;
    background: none;
    color: var(--primary-text-color);
    font-size: 16px;
    outline: none;
}

.content main .modal-content .form-input button {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    color: var(--primary-text-color);
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

.content main .modal-content .form-input button:hover {
    background: #666;
}

@media screen and (max-width: 768px) 
{
    .content{
        width: calc(100% - 60px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) 
{
    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .budget table{
        min-width: 340px;
    }
}

.btn-small {
    background-color: var(--theme-color); /* Cor de fundo (vermelho escuro) */
    color: var(--primary-text-color);           /* Cor do texto (branco) */
    border: none;             /* Sem borda */
    width: 40px;              /* Largura fixa para ser quadrado */
    height: 40px;             /* Altura fixa para ser quadrado */
    border-radius: 5px;       /* Bordas arredondadas */
    display: flex;            /* Alinhar conteúdo ao centro */
    justify-content: center;  /* Centralizar horizontalmente */
    align-items: center;      /* Centralizar verticalmente */
    font-size: 14px;          /* Tamanho do texto */
    cursor: pointer;          /* Muda o cursor ao passar por cima */
    transition: 0.3s;         /* Transição suave */
}

.btn-small:hover {
    background-color: #cc0000; /* Cor de fundo ao passar o mouse */
}

/* Barra de rolagem customizada (opcional) */
tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 4px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}