
:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-color);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo {
    margin-bottom: 35px;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
}

.sidebar .logo img {
    width: 100%; 
    height: auto; 
    max-width: 95%; 
}

.sidebar .side-menu{
    width: 100%;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--background-color-secundary);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--background-color-secundary);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--background-color-secundary);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--secondary-text-color);
    white-space: nowrap;
    overflow-x: hidden;
}

.sidebar .side-menu li.active a{
    color: var(--theme-color);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.content{
    position: relative;
    width: calc(100% - 230px);
    height: 100vh;
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}