:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-color);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1999;
    display: none;
}

.sidebar.open + .sidebar-overlay {
    display: block;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo {
    margin-bottom: 35px;
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
}

.sidebar .logo img {
    width: 100%; 
    height: auto; 
    max-width: 95%; 
}

.sidebar .side-menu{
    width: 100%;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--background-color-secundary);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--background-color-secundary);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--background-color-secundary);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--secondary-text-color);
    white-space: nowrap;
    overflow-x: hidden;
}

.sidebar .side-menu li.active a{
    color: var(--theme-color);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.content{
    position: relative;
    width: calc(100% - 230px);
    height: 100vh;
    left: 230px;
    transition: all 0.3s ease;
}

/* Estilo do Preloader */
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estiliza a imagem */
#preloader img {
    width: 300px; /* Ajuste conforme necessário */
}

/* Animação de FadeIn */
@keyframes fadeIn {
    from { opacity: 0.5; }
    to { opacity: 1; }
}


/*responsivo */

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease;
        z-index: 2000;
    }

    .sidebar.open {
        left: 0;
    }

    .sidebar .logo {
        height: 60px;
        margin-top: 60px; /* Espaço para o header */
    }

    .sidebar .side-menu {
        padding-top: 20px;
    }

    .sidebar .side-menu li {
        margin-left: 0;
        border-radius: 0;
    }

    .sidebar .side-menu li.active::before,
    .sidebar .side-menu li.active::after {
        display: none;
    }

    .content {
        width: 100%;
        left: 0;
    }
}

.sidebar-toggle {
    display: none !important;
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 2002; 
    transition: opacity 0.3s ease, background-color 0.3s ease;
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

/* Atualize o CSS do botão */
.sidebar-toggle .bx {
    transition: transform 0.3s ease;
}

.sidebar.open + .sidebar-toggle .bx {
    transform: rotate(90deg);
}

.sidebar-toggle.active .bx::before {
    content: "\eb94"; /* Código do ícone 'X' no Boxicons */
}

.sidebar-toggle.hidden {
    opacity: 0;
    pointer-events: none;
}

.mobile-only {
    display: none;
}

.theme-toggle.mobile-only {
    display: none;
}

@media screen and (max-width: 1024px) {
    .mobile-only {
        display: block;
    }

    .sidebar .theme-toggle {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--background-color);
    }

    .sidebar-toggle {
        display: flex !important ;
        align-items: center;
        justify-content: center;
    }

    .sidebar .side-menu {
        margin-bottom: 60px; /* Espaço para o theme toggle */
    }
}