@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --background-color: #181a1e;
    --background-color-secundary: #25252c;
    --primary-text-color: #fff;
    --secondary-text-color: #fbfbfb;
    --theme-color: #781215;
    --border-color: #25252c;
}


:root.light-mode {
    --background-color: #fff;
    --background-color-secundary: #e2dcdc;
    --primary-text-color: #000000;
    --secondary-text-color: #161616;
    --theme-color: #781215;
    --border-color: #25252c;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--background-color-secundary);
    overflow-x: hidden;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--primary-text-color);
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 5px;
    background: #781215;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--secondary-text-color);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--background-color);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    overflow-x: auto;
}

.content main .bottom-data .products{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .products table th {
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

/* Tornar o tbody scrollável */
.content main .bottom-data .products table tbody {
    display: block;
    max-height: 422px;
    overflow-y: auto;
    width: 100%;
}

.content main .bottom-data .products table thead,
.content main .bottom-data .products table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content main .bottom-data .products table tbody tr:hover {
    background: var(--background-color-secundary);
}

.content main .bottom-data .products table th,
.content main .bottom-data .products table td{
    width: auto;
    text-align: center;
    color: var(--primary-text-color); 
}

.content main .bottom-data .products table th:first-child {
    text-align: left;
}

.content main .bottom-data .products table td:first-child,
.content main .bottom-data .products table th:first-child {
    width: 50px;
}

.content main .bottom-data .products table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.content main .bottom-data .products table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table th {
    padding-bottom: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--background-color);
    padding: 18px 0;
}

table td{
    padding: 5px 0;
}

table td button.select-products {
    background-color: #f04747;
    color: var(--primary-text-color);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

table td button.select-products:hover {
    background-color: #d03c3c; 
}

.content main .bottom-data .products table td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

/* Barra de rolagem customizada (opcional) */
.modal .tabela tbody::-webkit-scrollbar {
    width: 8px;
}

.modal .tabela tbody::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 4px;
}

.modal .tabela tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.btn-small {
    background-color: var(--theme-color); /* Cor de fundo (vermelho escuro) */
    color: var(--primary-text-color);           /* Cor do texto (branco) */
    border: none;             /* Sem borda */
    width: 40px;              /* Largura fixa para ser quadrado */
    height: 40px;             /* Altura fixa para ser quadrado */
    border-radius: 5px;       /* Bordas arredondadas */
    display: flex;            /* Alinhar conteúdo ao centro */
    justify-content: center;  /* Centralizar horizontalmente */
    align-items: center;      /* Centralizar verticalmente */
    font-size: 14px;          /* Tamanho do texto */
    cursor: pointer;          /* Muda o cursor ao passar por cima */
    transition: 0.3s;         /* Transição suave */
}

.btn-small:hover {
    background-color: #cc0000; /* Cor de fundo ao passar o mouse */
}

.search-bar {
    margin-top: 10px; /* Adiciona espaçamento entre o título e a barra de pesquisa */
}

.search-bar input {
    width: 200%;
    max-width: 300px; /* Define uma largura máxima */
    padding: 8px 12px; /* Adiciona espaçamento interno */
    border: 1px solid var(--border-color); /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.search-bar input:focus {
    outline: none;
    border-color: var(--theme-color);
}

/* Barra de rolagem customizada (opcional) */
tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 4px;
}

tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    .content main .bottom-data .products table {
        border-collapse: collapse;
        width: 100%;
    }

    .content main .bottom-data .products table thead {
        display: none; /* Esconde o cabeçalho */
    }

    .content main .bottom-data .products table tbody {
        display: block;
        width: 100%;
    }

    .content main .bottom-data .products table tbody tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        margin-bottom: 10px;
        background: var(--background-color);
    }

    .content main .bottom-data .products table tbody tr td {
        display: block;
        width: 100%;
        text-align: left;
        padding: 5px 0;
    }

    .content main .bottom-data .products table tbody tr td::before {
        content: attr(data-label) ": "; /* Isso já puxa o data-label */
        font-weight: bold;
        margin-right: 8px;
        color: var(--primary-text-color);
    }

    .content main .bottom-data .admins table tbody tr:first-of-type {
        margin-top: 20px !important; /* Adiciona margem superior ao primeiro card */
    }

    .content main .bottom-data .products table td img {
        width: 50px; /* Ajuste o tamanho da imagem */
        height: 50px; /* Ajuste o tamanho da imagem */
        border-radius: 50%; /* Se você quiser que a imagem seja circular */
        object-fit: cover; /* Para manter a proporção da imagem */
    }
}

